
.products {
    padding-top: 16px;
    padding-bottom: 40px;

    &__title {
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
    }

    &__separator {
        width: 44px;
        height: 5px;
        border: none;
        background-color: #C0C0C0;
        display: inline-block;
    }

    .splide {
        &__pagination {
            display: none;
        }
        
        .card {
            width: 216px;
            position: relative;
            text-align: center;

            &:hover {
                background-color: #E6E8EA; 
                > .card__button {
                    visibility: visible;
                }
            }

            &__offer {
                width: 0;
                height: 0;
                border: 0 solid transparent;
                border-top-width: 0px;
                border-right-color: transparent;
                border-right-style: solid;
                border-right-width: 0px;
                border-bottom-width: 0px;
                border-top-width: 0;
                border-bottom-width: 80px;
                border-right: 80px solid $pink;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 9999;

                &__text {
                    font-size: 16px;
                    font-weight: 900;
                    color: $white;
                    position: relative;
                    top: 15px;
                    width: 93px;
                    height: 93px;
                    right: -40px;
                }
            }

            &__title {
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                color: #7A7A7A;
                text-align: center
            }

            &__price {
                font-size: 12px;
                line-height: 16px;
                min-height: 16px;
                text-align: center;
                color: #7A7A7A;
                margin-bottom: 2px; 
            }
            
            &__bestprice {
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                text-align: center;
                color: $black;
                margin-bottom: 4px; 
            }

            &__installment {
                font-size: 11px;
                line-height: 15px;
                text-align: center;
                color: #7A7A7A;
                margin-bottom: 8px; 
            }

            &__button {
                cursor: pointer;
                width: 125px;
                //visibility: hidden;
                margin-bottom: 14px;
            }
        }
    }
}

