
.products {
    padding-top: 16px;
    padding-bottom: 40px;

    &__title {
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
    }

    &__separator {
        width: 44px;
        height: 5px;
        border: none;
        background-color: #C0C0C0;
        display: inline-block;
    }

    &__carousel {
        .card {
            width: 216px;

            &:hover {
                background-color: #E6E8EA; 
                &__buton {
                    visibility: visible;
                }
            }

            &__title {
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                color: #7A7A7A;
                text-align: center
            }

            &__price {
                font-size: 12px;
                line-height: 16px;
                min-height: 16px;
                text-align: center;
                color: #7A7A7A;
                margin-bottom: 2px; 
            }
            
            &__bestprice {
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                text-align: center;
                color: $black;
                margin-bottom: 4px; 
            }

            &__installment {
                font-size: 11px;
                line-height: 15px;
                text-align: center;
                color: #7A7A7A;
                margin-bottom: 8px; 
            }

            &__button {
                cursor: pointer;
                //visibility: hidden;
            }
        }
    }
}

