@import "../../../node_modules/@splidejs/splide/dist/css/splide.min.css";
@import "core/main.scss";
@import "components/main.scss";

.container {
    padding: 0 16px;
}


 .hidden {
    visibility: hidden;
 }

 .visible {
    visibility: visible;
 }

 .d-none {
     display: none;
 }

 .d-block {
     display: block;
 }